.title_section {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('/assets/image/title_background.jpg');
  background-size: cover;
  background-position: top;
  object-fit: contain;

  &::before {

    pointer-events: none;

    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(var(--background-white-rgb), 0.4);
  
  }
}

.body_section {
  width: 100%;
  background-color: rgb(var(--background-white-rgb));

  padding: 150px 0;

  &.grey {
    background-color: rgb(var(--background-shade-rgb));
  }
}

.reviewContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  >.reviewCard {
    background-color: rgb(var(--background-white-rgb));
    border-radius: 20px;
    padding: 30px;

    grid-column: span var(--col);
    grid-row: span var(--row);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.dailyDajeong {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  position: relative;

  height: 1250px;
  
  > .mockupContainer {

    > div:first-child {
      position: absolute;
      top: 0;
      right: -104px;
      
    }

    > div:last-child {
      position: absolute;
      bottom: 0;
      left: -104px;
    }
  }

  > p {
    position: absolute;
    right: 30px;
    bottom: 166px;
  }
}

.missionType {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &.reverse {
    flex-direction: row-reverse;
  }

  >img {
    width: 50%;
  }

  >div {
    width: 50%;
    padding-left: 60px;

    >h4 {
      >span {
        >img {
          margin-left: 10px;
        }
      }
    }
  }
}

.dajeong_point_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;

  > div:nth-child(2) {
    grid-row: span 2;
    transform: translateX(60px);
  }
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  > .feature {
    display: flex;
    flex-direction: column;

    align-items: flex-start;

    padding: 30px;
    border-radius: 20px;

    > h3, p {
      color: rgb(var(--background-white-rgb));
    }

    &.light {
      > h3, p {
        color: rgb(var(--foreground-rgb));
      }
    }

    grid-row: span var(--row);
    grid-column: span var(--col);
  }
}

.teamTitle {
  > span > img {
    transform: translateY(16px);
  }
}

.dajeongMember {

  display: flex;
  flex-direction: column;
  align-items: center;

  > img {
    height: 220px;
    width: 220px;
    border-radius: 220px;

    object-fit: cover;

    margin-bottom: 20px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > h5 {
    margin-bottom: 10px;
  }

  > p {
    font-size: 16px;
    font-weight: 400;
  }

  > p:nth-child(2), > p:nth-child(3) {
    > span {
      font-weight: 600;
      margin-right: 10px;
    }
  }

  > p:nth-child(4) {
    margin-top: 30px;
  }

  > div {
    margin-top: 30px;
    color: rgb(var(--foreground-rgb));

    > a {
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  }

}